{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block body %}
<!-- Start top-section Area -->
					 <section class="top-section-area section-gap">
							 <div class="container">
									 <div class="row justify-content-between align-items-center d-flex">
											 <div class="col-lg-12 top-left">
													 <h1 class="text-white mb-20">{{articolo.titolo|capitalize}}</h1>
													 <ul>
															 <li><a href="{{path('home')}}">Home</a><span class="lnr lnr-arrow-right"></span></li>
															 <li><a href="{{ path('categoriasite', { id: articolo.categoria.id }) }}">{{articolo.categoria.nome|capitalize}}</a><span class="lnr lnr-arrow-right"></span></li>
															 <li class="text-white">{{articolo.titolo|capitalize}}</li>
													 </ul>
											 </div>
									 </div>
							 </div>
					 </section>
					 <!-- End top-section Area -->
<!-- Start post Area -->
    <div class="post-wrapper pt-40">
        <!-- Start post Area -->
        <section class="post-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="single-page-post">
                            <img class="img-fluid" src="{{ asset('uploads/image/' ~ articolo.image) }}" alt="">
                            <div class="top-wrapper ">
                                <div class="row d-flex justify-content-between">
                                    <h2 class="col-lg-8 col-md-12 text-uppercase">
                                        {{articolo.titolo}}
                                    </h2>
                                    <div class="col-lg-4 col-md-12 right-side d-flex justify-content-end">
                                        <div class="desc">
                                           <h2>{{articolo.autore|upper}}</h2>
                                            <h3>{{articolo.data|date|localizeddate('full', 'none', app.request.locale, "Europe/Rome", "d MMMM Y" )}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tags">
                                <ul>
																	{% for a in articolo.tags %}
                                    <li class="tagarticle">{{a|capitalize}}</li>
																	{% endfor %}
                                </ul>
                            </div>
                            <div class="single-post-content">
                                {{articolo.articolo|raw}}
                            </div>
														<div class="bottom-wrapper">
                                <div class="row">
																	<div class="col-lg-4 single-b-wrap col-md-12">
																			<i class="fa fa-comment-o" aria-hidden="true"></i>
																		{% set count = 0 %}
																		{% for commenti in articolo.commenti %}
																		    {% set count = count + 1 %}
																		{% endfor %}
																		{{ count }}
																	</div>
																	<div class="col-lg-4 single-b-wrap col-md-12">
																			<ul class="social-icons">
																					<li>
																							<div class="fb-share-button"data-href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-layout="button" data-size="small" data-mobile-iframe="true"></div>
																					</li>
																	</div>
                                </div>
															</div>
															<hr>
                            <!-- Start commentform Area -->
														{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <section class="commentform-area  pt-40 ">
                                <div class="container">
																	<div class="row flex-column">
                                        <h5 class="text-uppercase">Commenti</h5>
                                        <br>
                                        <div class="comment-list">
																					{% for commenti in articolo.commenti %}
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="desc">
                                                        <h5>{{commenti.userId.username|capitalize}}</h5>
                                                        <p class="date"></p>
                                                        <p class="comment">{{commenti.commenti}}</p>
                                                    </div>
                                                </div>
                                            </div>
																					{% endfor %}
                                            </div>
                                        </div>
                                    </div>
																		<hr>
                                    <h5 class="text-uppercas pt-20 pb-10">Commenta articolo</h5>
                                    <div class="row flex-row d-flex">
                                        <div class="col-lg-6">
																					{{ form_start(form) }}
																					<div class="form-group">
																							{{ form_row(form.commenti, {'attr': {'class': 'form-control common-input mb-10'}}) }}
																					</div>
																						<button type="submit" class="primary-btn">Commenta</button>
																				{{ form_end(form) }}
                                    </div>
                                </div>
                            </section>
														{% else %}
														<h5 class="text-uppercas pb-50">Se vuoi commentare l'articolo registrati</h5>
														<a class="primary-btn pbtn-2 text-uppercase mx-auto mb-15" href="{{ path('register') }}">Registrati</a>
														{% endif %}
                            <!-- End commentform Area -->

                        </div>
                    </div>
                    <div class="col-lg-4 sidebar-area ">

                        <div class="single_widget cat_widget">
                            <h4 class="text-uppercase pb-20">Nuovi articoli</h4>

															<ul id="articoli">
																{% for a in articoli %}
															 <a href="{{path('articolisite',{id: a.id})}}"><li class="grey">{{a.titolo}}</li></a>
															 {% endfor %}
	 													 </ul>
														 <ul>
	 													<a class="primary-btn pbtn-2 text-uppercase mx-auto" id="load-more">Leggi di più</a>
	 												</ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End post Area -->
    </div>
    <!-- End post Area -->
		<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
<script>
        var offsetarticolo = 2;
        $(document).on('click', '#load-more', function() {
            $.get(
                '{{ path('ajax_get_articolo_internal') }}',
                { offsetarticolo: offsetarticolo },
                function(data, status) {
                    if(status == 'success') {
                        if(!data) {
                            $('#load-more').hide();
                        }
                        $('#articoli').append(data);
                    }
                    offsetarticolo += 2;
                }
            );
        })
    </script>

{% endblock %}
