{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block body %}
<!-- Start top-section Area -->
					 <section class="top-section-area section-gap">
							 <div class="container">
									 <div class="row justify-content-between align-items-center d-flex">
											 <div class="col-lg-8 top-left">
													 <h1 class="text-white mb-20">{{articoli.titolo|capitalize}}</h1>
													 <ul>
															 <li><a href="index.html">Home</a><span class="lnr lnr-arrow-right"></span></li>
															 <li><a href="{{ path('categoriasite', { id: articoli.categoria.id }) }}">{{articoli.categoria.nome|capitalize}}</a><span class="lnr lnr-arrow-right"></span></li>
															 <li class="text-white">{{articoli.titolo|capitalize}}</li>
													 </ul>
											 </div>
									 </div>
							 </div>
					 </section>
					 <!-- End top-section Area -->
<!-- Start post Area -->
    <div class="post-wrapper pt-80">
        <!-- Start post Area -->
        <section class="post-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="single-page-post">
                            <img class="img-fluid" src="{{ asset('uploads/image/' ~ articoli.image) }}" alt="">
                            <div class="top-wrapper ">
                                <div class="row d-flex justify-content-between">
                                    <h2 class="col-lg-8 col-md-12 text-uppercase">
                                        {{articoli.titolo}}
                                    </h2>
                                    <div class="col-lg-4 col-md-12 right-side d-flex justify-content-end">
                                        <div class="desc">
                                           <h2>{{articoli.autore|upper}}</h2>
                                            <h3>{{articoli.data|date("j F Y")}}</h3>
                                        </div>
                                        <div class="user-img">
                                            <img src="img/user.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tags">
                                <ul>
																	{% for a in articoli.tags %}
                                    <li><a href="#">{{a|capitalize}}</a></li>
																	{% endfor %}
                                </ul>
                            </div>
                            <div class="single-post-content">
                                {{articoli.articolo|raw}}
                            </div>
														<div class="bottom-wrapper">
                                <div class="row">
																	<div class="col-lg-4 single-b-wrap col-md-12">
																			<i class="fa fa-comment-o" aria-hidden="true"></i>
																		{% set count = 0 %}
																		{% for commenti in articoli.commenti %}
																		    {% set count = count + 1 %}
																		{% endfor %}
																		{{ count }}
																	</div>
																	<div class="col-lg-4 single-b-wrap col-md-12">
																			<ul class="social-icons">
																					<li>
																							<div class="fb-share-button"data-href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-layout="button" data-size="small" data-mobile-iframe="true"></div>
																					</li>
																	</div>
                                </div>
															</div>
															<hr>
                            <!-- Start commentform Area -->
														{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <section class="commentform-area  pt-40 ">
                                <div class="container">
																	<div class="row flex-column">
                                        <h5 class="text-uppercase">Commenti</h5>
                                        <br>
                                        <div class="comment-list">
																					{% for commenti in articoli.commenti %}
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="desc">
                                                        <h5>{{commenti.userId.username|capitalize}}</h5>
                                                        <p class="date"></p>
                                                        <p class="comment">{{commenti.commenti}}</p>
                                                    </div>
                                                </div>
                                            </div>
																					{% endfor %}
                                            </div>
                                        </div>
                                    </div>
																		<hr>
                                    <h5 class="text-uppercas pt-20 pb-10">Commenta articolo</h5>
                                    <div class="row flex-row d-flex">
                                        <div class="col-lg-6">
																					{{ form_start(form) }}
																					<div class="form-group">
																							{{ form_row(form.commenti, {'attr': {'class': 'form-control common-input mb-10'}}) }}
																					</div>
																						<button type="submit" class="primary-btn">Commenta</button>
																				{{ form_end(form) }}
                                    </div>
                                </div>
                            </section>
														{% else %}
														<h5 class="text-uppercas pb-50">Se vuoi commentare l'articolo registrati</h5>
														<a class="primary-btn pbtn-2 text-uppercase mx-auto mb-15" href="{{ path('register') }}">Registrati</a>
														{% endif %}
                            <!-- End commentform Area -->

                        </div>
                    </div>
                    <div class="col-lg-4 sidebar-area ">

                        <div class="single_widget cat_widget">
                            <h4 class="text-uppercase pb-20">Post Tags</h4>

															<ul>
	 															 <li>
	 																	 <a href="#">Itinerari <span>37</span></a>
	 															 </li>
	 															 <li>
	 																	 <a href="#">Adventure <span>37</span></a>
	 															 </li>
	 															 <li>
	 																	 <a href="#">Food <span>37</span></a>
	 															 </li>
	 															 <li>
	 																	 <a href="#">Tecnologia <span>37</span></a>
	 															 </li>
	 															 <li>
	 																	 <a href="#">Cultura <span>37</span></a>
	 															 </li>
	 															 <li>
	 																	 <a href="#">Hobby <span>37</span></a>
	 															 </li>
	 													 </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End post Area -->
    </div>
    <!-- End post Area -->
		<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


{% endblock %}
