{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block body %}
<!-- Start top-section Area -->
					 <section class="top-section-area section-gap">
							 <div class="container">
									 <div class="row justify-content-between align-items-center d-flex">
											 <div class="col-lg-8 top-left">
													 <h1 class="text-white mb-20">{{categoria.nome|capitalize}}</h1>
													 <ul>
															 <li><a href="index.html">Home</a><span class="lnr lnr-arrow-right"></span></li>
															 <li><a href="category.html">{{categoria.nome|capitalize}}</a></li>
													 </ul>
											 </div>
									 </div>
							 </div>
					 </section>
					 <!-- End top-section Area -->


	 <!-- Start post Area -->
	 <div class="post-wrapper pt-100">
			 <!-- Start post Area -->
			 <section class="post-area">
					 <div class="container">
							 <div class="row justify-content-center d-flex">
									 <div class="col-lg-8" id="categoria">
										 {% for c in categoria.articolicategoria %}
													 <div class="single-list flex-row d-flex">
															 <div class="thumb col-md-6">
																	 <div class="date">
																		 <span>{{c.data|date("j")}}</span>
																		 <p class="white">{{c.data|date("F")}}</p>
																	 </div>
																	 <a href="{{ path('articolisite', { id: c.id }) }}">
																	 <img class="img-fluid d-flex" src="{{ asset('uploads/image/' ~ c.image) }}" alt="">
																 </a>
															 </div>
															 <div class="detail">
																	 <a href="{{ path('articolisite', { id: c.id }) }}"><h4 class="pb-20">{{c.titolo}}</h4></a>
																	 {{c.articolo|slice(0,100)|raw}}
																	 <p class="footer pt-10">
																		 <i class="fa fa-comment-o" aria-hidden="true"></i>
 																	{% set count = 0 %}
 																	{% for commenti in c.commenti %}
 																			{% set count = count + 1 %}
 																	{% endfor %}
 																	{{ count }}
																	 </p>
															 </div>
													 </div>
													 {% endfor %}
													 <div class="justify-content-center d-flex">
															 <a class="primary-btn pbtn-2 text-uppercase mx-auto mt-60" id="load-more">Load More </a>
													 </div>
									 </div>
									 <div class="col-lg-4 sidebar-area">

											 <div class="single_widget cat_widget">
													 <h4 class="text-uppercase pb-20">post categories</h4>
													 <ul>
															 <li>
																	 <a href="#">Itinerari <span>37</span></a>
															 </li>
															 <li>
																	 <a href="#">Adventure <span>37</span></a>
															 </li>
															 <li>
																	 <a href="#">Food <span>37</span></a>
															 </li>
															 <li>
																	 <a href="#">Tecnologia <span>37</span></a>
															 </li>
															 <li>
																	 <a href="#">Cultura <span>37</span></a>
															 </li>
															 <li>
																	 <a href="#">Hobby <span>37</span></a>
															 </li>
													 </ul>
											 </div>
									 </div>
							 </div>
					 </div>
			 </section>
			 <!-- End post Area -->
	 </div>
	 <!-- End post Area -->
<script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
<script>
       var offsetcategoria = 1;
       $(document).on('click', '#load-more', function() {
           $.get(
               '{{ path('ajax_get_categoria') }}',
               { offsetcategoria: offsetcategoria },
               function(data, status) {
                   if(status == 'success') {
                       if(!data) {
                           $('#load-more').hide();
                       }
                       $('#categoria').append(data);
                   }
                   offsetcategoria += 1;
               }
           );
       })
   </script>
{% endblock %}
