{% block title %}{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/ionicons.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/AdminLTE.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/skin-blue.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/main.css') }}" rel="stylesheet">
<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
{% endblock %}
{% block body %}
<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
      <div class="login-logo">
        <a href="{{ path('home') }}">
          <img class="brand" src="{{ asset('images/Logo1.svg') }}"></img>
        </a>
      </div>
      <p class="login-box-msg">Iscriviti</p>
        {{ form_start(form) }}
        <div class="form-group">
          {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_row(form.Password.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_row(form.Password.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-check">
          {{ form_row(form.accetto, {'attr': {'class': 'form-check-label'}}) }}
        </div>
        <p>asdasdasdasdasdasd</p>
        <div class="form-group hidden">
          {{ form_row(form.roles, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-info">Registrati</button>
        {{ form_end(form) }}
      </div>
    </div>
  </body>
{% endblock %}
