{% extends 'baseadmin.html.twig' %}
{% block title %}Admin{% endblock %}
{% block body %}
{% if app.session.flashBag.has('success') %}
   <div class="alert alert-success alert-dismissible">
     <a class="close" data-dismiss="alert" aria-label="close">×</a>
     {% for msg in app.session.flashBag.get('success') %}
     {{ msg }}
     {% endfor %}
   </div>
   {% elseif app.session.flashBag.has('notsuccess') %}
   <div class="alert alert-danger alert-dismissable">
     <a class="close" data-dismiss="alert" aria-label="close">×</a>
     {% for msg in app.session.flashBag.get('notsuccess') %}
     {{ msg }}
     {% endfor %}
{% endif %}
<h2>Lista Articoli</h2>
<h2 class="page-header"></h2>
<div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Gestione Articoli</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-group" id="accordion">
        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsearticolo">
                Aggiungi Articolo
              </a>
            </h4>
          </div>
          <div id="collapsearticolo" class="panel-collapse collapse">
            <div class="box-body">
              {{ form_start(form) }}
              <div class="form-group">
                  {{ form_row(form.active, {'attr': {'class': 'form-control active'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(form.titolo, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(form.tags, {'attr': {'class': 'form-control js-example-basic-multiple'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(form.data, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(form.articolo, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(form.autore, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(form.categoria, {'attr': {'class': 'form-control'}}) }}
              </div>
                  <button type="submit" class="btn btn-info">Aggiungi</button>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  <hr>
  <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Attivo</th>
        <th>Titolo</th>
        <th>Tags</th>
        <th>Data</th>
        <th>Articolo</th>
        <th>Autore</th>
        <th>Categoria</th>
        <th>Azione</th>
      </tr>
    </thead>
    <tbody>
      {% for a in articoliwrite %}
      <tr>
        <td>{{a.id}}</td>
        <td>{% if a.active == 0 %}{{'attivo'}}{% else %}{{'non attivo'}}{% endif %}</td>
        <td>{{a.titolo}}</td>
        <td>{% for t in a.tags %}{{t}},&nbsp;{% endfor %}</td>
        <td>{{a.data|date("d/m/Y")}}</td>
        <td>{{a.articolo|slice(0, 50)|raw}}</td>
        <td>{{a.autore}}</td>
        <td>{{a.categoria.nome}}</td>
        <td>
          <a class="btn btn-info btn-xs" href="{{ path('viewarticoli', { id: a.id }) }}">vedi</a>
          <a class="btn btn-warning btn-xs" href="{{ path('editarticoli', { id: a.id }) }}">modifica</a>
          <a class="btn btn-danger btn-xs" href="{{ path('deletearticoli', { id: a.id }) }}">elimina</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace( 'articoli_articolo' );
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
</script>
{% endblock %}
