{% extends 'baseadmin.html.twig' %}
{% block title %}Admin{% endblock %}
{% block body %}
<h2>Lista user</h2>
<h2 class="page-header">Modifica Associati</h2>
  {{ form_start(form) }}
  <div class="form-group">
      {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
      {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
      {{ form_row(form.isActive, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
      {{ form_row(form.roles, {'attr': {'class': 'form-control'}}) }}
  </div>
      <button type="submit" class="btn btn-info">Modifica</button>
  {{ form_end(form) }}
{% endblock %}
