{% extends 'baseadmin.html.twig' %}
{% block title %}Admin{% endblock %}
{% block body %}
<h2 class="page-header">Modifica Categoria</h2>
{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.active, {'attr': {'class': 'form-control active'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.nome, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.data, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
  {% if categoria.image == true %}
    {{ form_row(form.image, {'attr': {'class': 'hidden'}}) }}
    <img src="{{ asset('uploads/image/' ~ categoria.image.filename) }}">
  {% else %}
    {{ form_row(form.image) }}
  {% endif %}
</div>
    <button type="submit" class="btn btn-warning">Modifica</button>
{{ form_end(form) }}
<a class="btn btn-info btn-xs" href="{{ path('addcategoria') }}">indietro</a>
{% endblock %}
